
:root{
    --cor1: rgb(0, 36, 195);
    --cor2: rgb(0, 0, 69);
    --cor3: rgb(69, 69, 168);
  }
  
  .btn{
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 5px;
    
  }
  .btnSuccess{
    background-color: var(--cor1);
    outline: none;
    color: var(--cor2);
  }
  .btnSuccess :hover{
    background-color: var(--cor3);
    outline: none;
    color: var(--cor2);
  }
  
  .buttom {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(42, 57, 153);
    border-radius: 5px;
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .buttom:hover {
    background-color: rgb(15, 14, 79);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .buttom:active {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    transform: translateY(1px);
  }
  
  